click~=6.7,<7.0
celery~=4.0,>=4.1.0,<4.2.0
elasticsearch>=5.1.0,<6.0.0
elasticsearch-dsl==5.0.0
Flask~=0.0,>=0.12.4
Flask-CeleryExt~=0.0,>=0.3.1
httplib2~=0.0,>=0.12.0
inspire-dojson~=61.0,>=61.0.0
inspire-schemas~=59.0,>=59.1.0
inspire-utils~=3.0,>=3.0.0
invenio-base~=1.0,>=1.0.0
invenio-config~=1.0,>=1.0.0
invenio-db[postgresql,versioning]~=1.0,>=1.0.0
invenio-pidstore==1.0.0
invenio-search==1.0.2
invenio-records~=1.0,>=1.0.0
langdetect~=1.0,>=1.0.7
mock==2.0.0
pytest==4.1.1
SQLAlchemy~=1.0,>=1.2.5
sword2~=0.0,>=0.2.1
